body {
    margin: 0 auto;
}

.container {
    max-width: 1150px;
    padding: 100px 0 100px 0;
    margin: 0 auto;
}

* {
    font-family: 'Roboto',
        'Montserrat',
        sans-serif;

    a {
        text-decoration: none;
    }
}


@import 'base/_variables';
@import 'libs/_font';
@import 'libs/slick';
@import 'blocks/_header';
@import 'blocks/_buttons';
@import 'blocks/_services';
@import 'blocks/_teams';
@import 'blocks/_latest';
@import 'blocks/_touch';
@import 'blocks/_blog';
@import 'blocks/clients';
@import 'blocks/_feedback';
@import 'blocks/_footer';
@import 'blocks/pageup';
@import 'base/_media.scss';