.button {
    border-radius: 2px;
    border: 2px solid #ffffff;
    background: transparent;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    color: #ffffff;


    &_main {
        margin: 50px auto;
        width: 180px;
        height: 50px;
        font-size: 16px;
    }

    &_touch {
        margin: 53px auto;
        width: 180px;
        height: 50px;
        border-radius: 2px;
        border: 2px solid #ffffff;

    }

    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}