.button {
    border-radius: 2px;
    border: 2px solid #ffffff;
    background: transparent;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    color: #ffffff;
    cursor: pointer;


    &_main {
        margin: 50px auto;
        width: 180px;
        height: 50px;
        font-size: 16px;
    }

    &_touch {
        margin: 53px auto;
        font-family: "Roboto Slab";
        width: 180px;
        height: 50px;
        border-radius: 2px;
        border: 2px solid #ffffff;

    }

    &_mini {
        margin: 25px auto;
        width: 100px;
        height: 38px;
        background-color: #ffffff;
        color: $second-color;
        text-align: center;
        line-height: 38px;
    }

    &__send {
        width: 170px;
        height: 44px;
        border: 1px solid $main-color;
        color: $main-color;
        font-family: "Roboto Slab";
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.6px;
        border-radius: 0px;
    }
}

.button_touch:hover {
    background-color: #ffffff;
    color: $second-color;
}