.footer {
    margin: 0 auto;
    background-color: $second-color;

    &__info {
        width: 350px;
        margin: 0 auto;

        &__social {
            width: 200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__round {
                width: 35px;
                height: 35px;
                border: 2px solid #ffffff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    display: block;
                    transform: translateY(10%);
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
    }

    hr {
        color: #ffffff;
    }
}